<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro de Aprendizaje: Sistema Solar</title>

    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>

<h1> Explorador Interactivo del Sistema Solar</h1>
<div class="subtitle">Descubre los secretos del cosmos comparándolos con nuestro hogar</div>

<a class="btn-mapa" href="{% url 'sistema_solar' %}">
    <span>Explorar en Órbita 3D</span>
</a>

<div class="dashboard">
    
    <div class="panel selector-box">
        <label for="planeta" style="font-weight: 600; font-size: 1.1rem;">Navegar hacia un mundo:</label>
        <select id="planeta">
            <option value="" selected disabled>-- Elige un destino --</option>
            <option value="Mercurio">Mercurio</option>
            <option value="Venus">Venus</option>
            <option value="Tierra">Tierra</option>
            <option value="Marte">Marte</option>
            <option value="Júpiter">Júpiter</option>
            <option value="Saturno">Saturno</option>
            <option value="Urano">Urano</option>
            <option value="Neptuno">Neptuno</option>
        </select>

        <div id="error" class="error"></div>
        <img id="imagen-planeta" class="preview-img" src="" alt="Vista del Planeta">
    </div>

    <div class="panel" id="panel-informacion" style="display: flex; align-items: center; justify-content: center; min-height: 300px;">
        <div id="indicador-vacio" style="color: var(--text-muted); text-align: center;">
            <p style="font-size: 1.2rem;">Esperando planeta...</p>
            <p style="font-size: 0.9rem;">Selecciona un planeta a la izquierda para desplegar sus datos holográficos.</p>
        </div>

        <div class="info-card" id="contenido-info" style="width: 100%;">
            <h2 class="planeta-titulo" id="nombre"></h2>
            
            <p id="desc" style="line-height: 1.6; color: #cbd5e1; margin: 5px 0;"></p>
            
            <div class="dato-destacado" id="curiosidad"></div>

            <div class="grid-datos">
                
                <div class="sub-tarjeta">
                    <div class="titulo-metrica">Gravedad Superficial</div>
                    <div class="valor-num" id="gravedad"></div>
                    <div class="comparativa" id="comp-gravedad"></div>
                </div>

                <div class="sub-tarjeta">
                    <div class="titulo-metrica">Densidad de Materia</div>
                    <div class="valor-num" id="densidad"></div>
                    <div class="comparativa" id="comp-densidad"></div>
                </div>

                <div class="sub-tarjeta">
                    <div class="titulo-metrica">Masa Total</div>
                    <div class="valor-num" id="masa"></div>
                </div>

                <div class="sub-tarjeta">
                    <div class="titulo-metrica">Satélites Naturales</div>
                    <div class="valor-num" id="lunas"></div>
                </div>

                <div class="sub-tarjeta" style="grid-column: 1 / -1;">
                    <div class="titulo-metrica">Distancia Media al Sol</div>
                    <div class="valor-num" id="distancia"></div>
                    <div class="comparativa" id="comp-distancia" style="color: #67e8f9;"></div>
                </div>

            </div>
        </div>
    </div>

</div>

<script>
// Base de datos local complementaria para inyectar dinamismo didáctico
const datosDidacticosComplementarios = {
    'Mercurio': { curiosidad: "¡Un año en Mercurio dura solo 88 días, pero un solo día completo (de amanecer a amanecer) dura 176 días terrestres debido a su lentísima rotación!", gravedadTierra: 0.38, esGas: false },
    'Venus': { curiosidad: "A pesar de no ser el planeta más cercano al Sol, es el más caliente del sistema debido a un efecto invernadero descontrolado. ¡Su atmósfera aplastaría un submarino!", gravedadTierra: 0.90, esGas: false },
    'Tierra': { curiosidad: "Es el único mundo conocido que alberga vida y agua líquida en su superficie. Nuestro escudo magnético nos protege de la radiación solar destructiva.", gravedadTierra: 1.0, esGas: false },
    'Marte': { curiosidad: "Alberga el 'Monte Olimpo', el volcán más grande del Sistema Solar. Es tres veces más alto que el Monte Everest.", gravedadTierra: 0.38, esGas: false },
    'Júpiter': { curiosidad: "Su famosa 'Gran Mancha Roja' es una tormenta gigante más grande que la Tierra entera que lleva rugiendo al menos 300 años.", gravedadTierra: 2.53, esGas: true },
    'Saturno': { curiosidad: "Sus espectaculares anillos están hechos de miles de millones de pedazos de hielo y roca. Además, es tan ligero que si tuvieras un océano gigante, ¡Saturno flotaría en él!", gravedadTierra: 1.06, esGas: true },
    'Urano': { curiosidad: "Este gigante de hielo gira completamente de lado. Su eje de rotación está inclinado casi 98 grados, probablemente debido a un antiguo choque planetario.", gravedadTierra: 0.89, esGas: true },
    'Neptuno': { curiosidad: "Es el lugar más ventoso de nuestro sistema. Sus corrientes de aire congelado superan los 2,100 km/h, más rápido que la velocidad del sonido de un jet de combate.", gravedadTierra: 1.14, esGas: true }
};

document.getElementById("planeta").addEventListener("change", async function () {
    const nombrePlaneta = this.value;
    const infoVacia = document.getElementById("indicador-vacio");
    const contenidoInfo = document.getElementById("contenido-info");
    const error = document.getElementById("error");
    const img = document.getElementById("imagen-planeta");

    try {
        const res = await fetch(`/api/planeta/${nombrePlaneta}/`);
        if (!res.ok) throw new Error("Error al cargar planeta.");
        
        const data = await res.json();
        const infoExtra = datosDidacticosComplementarios[nombrePlaneta];

        error.style.display = "none";
        infoVacia.style.display = "none";
        contenidoInfo.style.display = "flex";

        
        document.getElementById("nombre").textContent = `Ficha de Exploración: ${data.nombre}`;
        document.getElementById("desc").textContent = data.descripcion || "Sin descripción disponible.";
        document.getElementById("curiosidad").innerHTML = `<strong>¿Sabías qué?</strong> ${infoExtra.curiosidad}`;
        
        document.getElementById("gravedad").textContent = `${data.gravedad} m/s²`;
        document.getElementById("densidad").textContent = `${data.densidad} g/cm³`;
        document.getElementById("masa").textContent = data.masa;
        document.getElementById("lunas").textContent = data.lunas === 0 ? "Ninguna luna" : `${data.lunas} lunas registradas`;
        document.getElementById("distancia").textContent = `${data.distancia_sol_mill_km} Millones de km`;

        // --- boleanos ---
        // 1. Gravedad 
        if (nombrePlaneta === 'Tierra') {
            document.getElementById("comp-gravedad").textContent = "Gravedad base de nuestro hogar.";
        } else {
            const pesoImaginario = Math.round(50 * infoExtra.gravedadTierra);
            document.getElementById("comp-gravedad").textContent = `Si en la Tierra pesas 50kg, aquí registrarías: ${pesoImaginario}kg.`;
        }

        // 2. Densidad 
        if (infoExtra.esGas) {
            document.getElementById("comp-densidad").textContent = "Mundo gaseoso/fluido (baja densidad superficial).";
        } else {
            document.getElementById("comp-densidad").textContent = "Cuerpo rocoso y sólido.";
        }

        // 3. Tiempo de viaje de la luz
        const segundosLuz = (data.distancia_sol_mill_km * 1000000) / 299792;
        const minutosLuz = (segundosLuz / 60).toFixed(1);
        document.getElementById("comp-distancia").textContent = `La luz del Sol tarda aproximadamente ${minutosLuz} minutos en alcanzar su superficie.`;

        // Renderizado de imagen
        if (data.imagen) {
            img.src = data.imagen;
            img.style.display = "block";
        } else {
            img.style.display = "none";
        }

    } catch (err) {
        contenidoInfo.style.display = "none";
        infoVacia.style.display = "block";
        img.style.display = "none";
        error.textContent = err.message;
        error.style.display = "block";
    }
});
</script>

</body>
</html>